.twitter {
  &-container {
    h1 {
      padding: 80px 0;
      text-align: center;
      margin-bottom: 0;
    }
  }
  &-list {
  }
  &-item {
    background: #ffffff;
    border: 1px solid #d6bcfa;
    border-radius: 10px;
    padding: 24px;
  }
  &-header {
    display: flex;
    align-items: center;
  }
  &-name {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  &-id {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
  }
}
