.FAQ {
  &-content {
    h1 {
      font-weight: 600;
      font-size: 44px;
    }
  }

  &-collapse {
    padding: 24px;
    text-align: center;
    border: 1px solid #d6bcfa;
    border-radius: 15px;
    margin-bottom: 24px;
    position: relative;
    .caret {
      @include text($font, 500, 20px, 26px, $text-hedding);
      text-align: left;
      margin-bottom: 12px;
      background-color: $white-color;
      border: none;
      opacity: 0.8;
      margin-right: 32px;
      padding: 0;
      &::after {
        @include caret-down;
        @include shape(32px, 31px, auto, auto);
        display: inline-block;
        margin-left: $caret-spacing;
        vertical-align: $caret-vertical-align;
        content: "";
        color: #9f7aea;
      }
      &:hover {
        background-color: $white-color;
        color: #000000;
        opacity: 0.8;
      }
    }
  }
  .text-desc {
    text-align: left;
  }
}
