.wrapper {
  max-width: 1440px;
  background: #fcfaff;
  box-shadow: -20px 20px 0px rgba(82, 79, 61, 0.1);
  border-radius: 20px;
}

.containers {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: $font;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
}

.btn-zeus {
  background-color: #532c59;
  color: $white-color;
  padding: 16px 20px;
  border-radius: 15px;
  text-decoration: none;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;

  &:hover {
    color: $white-color;
    background-color: #532c59;
  }
}

.text {
  line-height: 24px;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  font-family: $font;
}

.text-title {
  font-weight: 700;
  font-size: 48px;
  font-family: $font-heading;
  line-height: 64px;
  color: $text-hedding;
}

.text-desc {
  font-family: $font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-color;
}

.text-menu {
  font-family: $font;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $text-gray;
  text-decoration: none;
}