.wrapper {
  max-width: 1440px;
  background: #fcfaff;
  box-shadow: -20px 20px 0px rgba(82, 79, 61, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.containers {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: $font;
  line-height: 1;
  color: $text-color;
  font-weight: 400;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
}

@mixin text(
  $font: $font,
  $weight: 400,
  $size: 14px,
  $height: 24px,
  $color: $text-color
) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.btn-zeus {
  @include text($font-heading, 700, 16px, 20px, $white-color);
  background-color: #532c59;
  padding: 16px 20px;
  border-radius: 15px;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $white-color;
    background-color: #532c59;
  }
}

.text {
  @include text();
}

.text-title {
  @include text($text-hedding, 700, 48px, 64px, $text-hedding);
}

.text-desc {
  @include text($font, 400, 14px, 20px, $text-color);
}

.text-menu {
  @include text($font, 500, 16px, 20px, $text-gray);
  text-decoration: none;
}
