@mixin menu-list {
  display: flex;
  gap: 0 8px;
  align-items: center;
  padding: 0;
}
.header {
  margin-bottom: 37px;
  padding-top: 18px;
  border-bottom: 1px solid #f8e0fb;

  &-container {
    .menu-left {
      &-list {
        @include menu-list();
      }
    }

    li {
      padding: 12px;
    }
    .menu-right {
      &-list {
        @include menu-list();
      }
    }
  }

  &-img {
    text-align: center;
  }
}

.dropdown {
  button {
    background-color: transparent;
    border: none;
    color: $text-gray;
    font-family: $font;
  }
}
@media screen and (max-width: 991.98px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}
