.hero {
  margin-bottom: 37px;
  position: relative;
  &-container {
    padding: 80px 0 64px;
    margin: 0 auto;

    .bg-shape-c {
      position: absolute;
      top: -32px;
      left: 53px;
    }

    .bg-shape-v {
      position: absolute;
      top: 30px;
      right: 167px;
    }

    .bg-shape-w {
      position: absolute;
      bottom: -61px;
      left: -16px;
    }

    .bg-shape-diamond {
      position: absolute;
      bottom: -61px;
      right: 33px;
    }
  }

  &-content {
    margin: 0 auto;
    text-align: center;

    h1,
    p {
      margin-bottom: 32px;
      padding: 0 60px;
    }
  }

  &-title {
    font-family: $font-heading;
    color: $text-hedding;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-shadow: -5px 5px 0px #ffffff;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    &-container {
      &-content {
        h1 {
          padding: 64px 32px 0;
          margin-bottom: 0;
        }
        p {
          padding: 32px;
        }
      }
      .bg-shape-c {
        position: absolute;
        top: -11;
        left: -55px;
        img {
          max-width: 173px;
        }
      }

      .bg-shape-v {
        position: absolute;
        top: 20px;
        right: -23px;
        img {
          max-width: 111px;
        }
      }

      .bg-shape-w {
        position: absolute;
        bottom: -77px;
        left: -45px;
        img {
          max-width: 192px;
        }
      }

      .bg-shape-diamond {
        position: absolute;
        bottom: -13px;
        right: -66px;
        img {
          max-width: 154px;
        }
      }
    }
  }
}
