@mixin shape($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  right: $right;
  left: $left;
  top: $top;
  bottom: $bottom;
}

.hero {
  margin-bottom: 37px;
  position: relative;
  &-container {
    padding: 80px 0 64px;
    margin: 0 auto;

    .bg-shape-c {
      @include shape(-3px, auto, auto, 53px);
    }

    .bg-shape-v {
      @include shape(30px, 167px, auto, auto);
    }

    .bg-shape-w {
      @include shape(auto, auto, -61px, -16px);
    }

    .bg-shape-diamond {
      @include shape(auto, 33px, -61px, auto);
    }
  }

  &-content {
    margin: 0 auto;
    text-align: center;

    h1,
    p {
      margin-bottom: 32px;
      padding: 0 60px;
    }
  }

  &-title {
    @include text($font-heading, 700, 80px, 96px, $text-hedding);
    text-shadow: -5px 5px 0px #ffffff;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    &-container {
      &-content {
        h1 {
          padding: 64px 32px 0;
          margin-bottom: 0;
        }
        p {
          padding: 32px;
        }
      }
      .bg-shape-c {
        @include shape(-11px, auto, auto, -55px);
        img {
          max-width: 173px;
        }
      }

      .bg-shape-v {
        @include shape(20px, -23px, auto, auto);
        img {
          max-width: 111px;
        }
      }

      .bg-shape-w {
        @include shape(auto, auto, -77px, -45px);
        img {
          max-width: 192px;
        }
      }

      .bg-shape-diamond {
        @include shape(auto, -66px, -13px, auto);
        img {
          max-width: 154px;
        }
      }
    }
  }
}
