.provide {
  &-header {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    gap: 24px 0;

    .text {
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    text-align: center;
  }
  &-text {
    @include text($font-heading, 700, 28px, 36px, $text-hedding);
  }
}
