.team {
  &-container {
    padding: 80px 0;
  }

  &-content {
    margin: 0 auto 80px;
    text-align: center;

    h1 {
      @include text($font-heading, 700, 48px, 64px, #000000);
      margin-bottom: 24px;
    }
    p {
      @include text();
    }
  }

  .list-card {
    &-items {
      display: flex;
      flex-direction: column;
      gap: 12px 0;
      text-align: center;
      padding: 0 16px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .card-name {
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: $text-hedding;
    }

    .text-desc {
      font-weight: 300;
    }
  }
}
.trans {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .trans {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767.98px) {
  .twitter-list {
    overflow-x: scroll;
  }
}
